<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static '/css/login.css' %}" />
    <script
      src="https://kit.fontawesome.com/651ff6f856.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    {% if res %}
    <div class="alert alert-primary text-center {display}" id="result" role="alert">
      {{res}}
    </div>
    {% endif %}

    <div class="login-container mt-5">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form
            action="validateRegisterCredentials"
            onsubmit="return validateForm();"
            method="post"
          >
            {% csrf_token %}
            <h3>Create Account</h3>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              oninput="namevalidation()"
            />
            <small class="fs-6 text-danger" id="errname" style="display: none"
              >Name should contain only alphabet</small
            >
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              oninput="emailvalidation()"
            />
            <small class="fs-6 text-danger" id="erremail" style="display: none"
              >Email is Invalid</small
            >
            <input
              type="password"
              name="password"
              id="pass"
              placeholder="Password"
              oninput="passvalidation()"
            />
            <small class="fs-6 text-danger" id="errpass" style="display: none"
              >Password should contain Uppercase, Lowercase & digit.</small
            >
            <input
              type="number"
              name="number"
              id="number"
              placeholder="Phone Number"
              oninput="phvalidation()"
            />
            <small class="fs-6 text-danger" id="errphno" style="display: none"
              >Number sould be 10 digit long</small
            >
            <button type="submit" class="submit mt-3">Sign Up</button>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form action="validateLoginCredentials" method="post">
            {% csrf_token %}
            <h1 class="mb-5">Sign in</h1>
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            {% load socialaccount %}
            <a href="{% provider_login_url 'google' %}">Login With Google</a>
            <button type="submit" class="submit" value="Sign In">
              Sign In
            </button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>
                To keep connected with us please login with your personal info
              </p>
              <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button class="ghost" id="signUp">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const signUpButton = document.getElementById("signUp");
      const signInButton = document.getElementById("signIn");
      const container = document.getElementById("container");

      signUpButton.addEventListener("click", () => {
        container.classList.add("right-panel-active");
      });

      signInButton.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
      });

      function namevalidation() {
        var pattern = /^[A-Za-z ]{1,}$/;
        var str = document.getElementById("name").value;
        if (!pattern.test(str)) {
          document.getElementById("errname").style.display = "block";
          return false;
        } else {
          document.getElementById("errname").style.display = "none";
          return true;
        }
      }
      function emailvalidation() {
        var pattern =
          /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        var str = document.getElementById("email").value;
        if (!pattern.test(str)) {
          document.getElementById("erremail").style.display = "block";
          return false;
        } else {
          document.getElementById("erremail").style.display = "none";
          return true;
        }
      }

      function passvalidation() {
        var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
        var str = document.getElementById("pass").value;
        if (!pattern.test(str)) {
          document.getElementById("errpass").style.display = "block";
          return false;
        } else {
          document.getElementById("errpass").style.display = "none";
          return true;
        }
      }

      function phvalidation() {
        var pattern = /^[0-9]{10}$/;
        var str = document.getElementById("number").value;
        if (!pattern.test(str)) {
          document.getElementById("errphno").style.display = "block";
          return false;
        } else {
          document.getElementById("errphno").style.display = "none";
          return true;
        }
      }

      function validateForm(){
        if( namevalidation() && emailvalidation() && phvalidation() && passvalidation() )
        {
          return true
        }else{
          alert("Please Validate")
          // document.getElementById("result").innerText = "Please Insert valid information."
          // document.getElementById("result").style.display = "block";
          return false
        }
      }
    </script>
  </body>
</html>
